doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/w3.css')
  body

    .w3-bar.w3-teal
      a.w3-bar-item.w3-button(href='#') Home
      a.w3-bar-item Website ENGWEB2324 - NORMAL

    block content